<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition" />
  </configSections>
  <modules>
    <module assemblyFile="iLynx.Chatter.AuthenticationModule.dll"
            moduleType="iLynx.Chatter.AuthenticationModule.ServerAuthenticationModule, iLynx.Chatter.AuthenticationModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="AuthenticationModule"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="StorageModule"/>
      </dependencies>
    </module>
    <module assemblyFile="iLynx.Chatter.NHibernateModule"
            moduleType="iLynx.Chatter.NHibernateModule.NHibernateModule, iLynx.Chatter.NHibernateModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="StorageModule"
            startupLoaded="true"/>
  </modules>
</configuration>