<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition" />
  </configSections>
  <modules>
    <module assemblyFile="iLynx.Chatter.AuthenticationModule.dll"
            moduleType="iLynx.Chatter.AuthenticationModule.ClientAuthenticationModule, iLynx.Chatter.AuthenticationModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="AuthenticationModule"
            startupLoaded="true">
    </module>
    <module assemblyFile="iLynx.Chatter.ClientServicesModule.dll"
            moduleType="iLynx.Chatter.ClientServicesModule.ClientServicesModule, iLynx.Chatter.ClientServicesModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ServicesModule"
            startupLoaded="true"/>
    <module assemblyFile="iLynx.Chatter.Client.exe"
            moduleType="iLynx.Chatter.Client.ClientShellModule, iLynx.Chatter.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ShellModule"
            startupLoaded="true"/>
    <module assemblyFile="iLynx.Chatter.BroadcastMessaging.dll"
            moduleType="iLynx.Chatter.BroadcastMessaging.ClientBroadcastMessagingModule, iLynx.Chatter.BroadcastMessaging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="BroadcastModule"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="ServicesModule"/>
      </dependencies>
    </module>
  </modules>
</configuration>